body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: black;
}

.li {
    background: #f3f3f3;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
